html, body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #070e20, #01010e);
  font-size: 1.25rem;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 24px;
}

p, li {
  color: #e0e0e0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.header-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.title {
  flex: 1;
  text-align: left;
}

.title a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.globalnav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.globalnav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: gray;
}

.globalnav a:hover {
  color: #5058d3;
  transition: color 0.3s ease;
}

.theme-toggle {
  flex: 1;
  text-align: right;
  font-size: 0.9rem;
  color: #ccc;
}

/* Typography */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: medium;
  text-align: left;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #ffffff;
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.575rem;
  color: gray;
  margin-top: auto;
}

/* Section Layout */
section {
  padding: 2rem;
  margin-bottom: 2rem;
}

/* Project Cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding-top: 2rem;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  background-color: rgba(226, 232, 240, 0.1);
}

.project-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #ffffff;
}

.project-card p {
  font-size: 0.8rem;
  color: #cccccc;
  line-height: 1.3;
}
